@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap");
.quiz-start {
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  /* height: 105vh; */
  width: 100%;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quiz-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20%;
  margin-bottom: 50px;
}
.ques-count {
  margin-top: -10px;
  margin-bottom: 15px;
  font-weight: bold;
}
.logo {
  width: 200px;
  margin: auto;
  height: 100px;
}
.quiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 40px;
  padding: 20px;
  border-radius: 50px;
  background: #ffffff;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;

  border-radius: 15px;
  width: 500px;
}

.question-text {
  font-size: 30px;
  margin-bottom: 20px;
  color: #333;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  text-align: center;
}
@media screen and (max-width: 520px) {
  .question-text {
    font-size: 20px;
  }
}
.answer-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 520px) {
  .answer-section {
    grid-template-columns: 1fr;
    gap: 8px;
  }
}
.sign-up {
  width: 150px;
}
button {
  width: 60%;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  justify-self: center;
  background-color: lightgray;
  color: #333;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
button:hover {
  background: #ee4e14;
  color: #fff;
}
@media screen and (max-width: 520px) {
  button {
    width: 40%;
  }
}
@media screen and (max-width: 400px) {
  button {
    width: 30%;
  }
}
result-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.submit {
  background: #ee4e14;
  width: 120px;
  color: #fff;
}

.submit:hover {
  transition: 0.5s all ease-in-out;
}
.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 20px;
  border-radius: 50px;
  background: #ffffff;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;

  border-radius: 15px;
  width: 500px;
}
.result h1 {
  font-size: 60px;
  color: #ee4e14;
}
.result p {
  font-weight: bold;
}
.small {
  font-size: 12px;
  font-weight: lighter;
  color: gray;
  margin-top: 15px;
}
.sign-up {
  width: 150px;
  background-color: #ee4e14;
  color: #fff;
}
@media screen and (max-width: 520px) {
  .result {
    width: 90%;
    font-size: 14px;
    box-shadow: none;
  }
}

.touch {
  font-weight: bold;
  color: #fff;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}

input {
  width: 100%;
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #ccc;
  color: #333;
}
.strong {
  font-weight: bold;
  color: #333;
  margin-top: 15px;
  text-align: center;
}
p {
  color: #333;
  margin-top: -10px;
}
.form-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: -10px;
}
.form {
  display: flex;
  flex-direction: column;

  align-items: center;
  padding: 20px;
}
